*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*vista Movil*/
#container {
  display: flex;
  flex-direction: column;
}
/*estilos para con tenedor de arriba a la izquierda movil*/
#currentWheather {
  background-color: rgb(30, 33, 58);
  height: 100vh;
  width: 100%;
}
/*barra de navecion lateral*/

#navBar {
  height: 100%;
}

/*estilos para el contenedor a la derecha escritorio*/
#forecast {
  background-color: rgb(16, 14, 29);
  min-height: 100vh;
}

/*vista de de escritorio */
@media screen and (min-width: 1200px){
  #container {
  flex-direction: row;

}

/*@media screen and (min-width: 1200px){
  #currentWeather {
  width: 40%;
}
*/

#currentWheather {
  width: 30%;
}

#forecast {
  width: 70%;
}
}










